
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height:80px;
  background: rgba(204, 204, 204, 0.2);
}
h1{
  opacity: 0.7;
}
.text{
color: aliceblue;
font-family: cursive;
}

.icon{
  color: lightgoldenrodyellow;
  padding: 2px;
  margin: auto;
}

  